.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: rgb(177, 228, 218);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #051705;
}

.text {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 20px;
}

.description {
  padding: 5px 10px;
  font-size: 20px;
}
